{% extends 'blog/base.html' %}      
{% block content %}
 <div>
            
                  
                  
               </div>
{% for post in posts %}
        <div class = "post">
            <div class = "date" >
                {{ post.created_date }}
            </div>
            <h1 class="title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p class="post-text">{{ post.text|linebreaks }}</p>
            <a href="{% url 'blog.views.post_detail' pk=post.pk %}">Comments: {{ post.approved_comment.count }}</a>
          <p class = "category"> Category: {{ post.category}} <p>
            <p class = "tag"> Tag: {% for tags in post.tags.all %} {{tags}}  {%endfor%}  <p>      
        </div>
{% endfor %}
        <div class="pagination">
 
    {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">←</a>
    {% endif %}
 
    {% for num in posts.paginator.page_range %}
        {% if num == posts.number %}
            <span class="current"><b>{{ num }}</b></span>
        {% else %}
            <a href="?page={{ num }}"> {{ num }}</a>
        {% endif %} 
    {% endfor %}
 
    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}"> → </a>
    {% endif %}
 
</div>



{% endblock content %}