 {% extends 'blog/base.html' %}

    {% block content %}
       
          
           <div class="date">
                    {% if post.published_date %}
                         {{ post.published_date }}
           
                    {% else %}
                       {% if request.user = post.author or user.is_superuser %}
                                 <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a>
                        {% endif %}
                    {% endif %}
           </div>


           <div class="main-menu">
               {% if request.user = post.author or user.is_superuser %}
              
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                     <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
           
               {% endif %}
             <div class="includ-post">
                  <h1 class="title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                  <p>{{ post.author}}</p>
                  <hr>
                  <div class="pull-right bg-info" style="width: 20em; padding: 10px;">
                    <p> Tag: {% for tags in post.tags.all %} {{tags}}  {%endfor%}  <p>
                    <p> Category: {{ post.category}} <p>
                  </div>           
                   <p class="post-text">{{ post.text|linebreaks }}</p>
             </div>
           </div>
           <div class="likecoment">
                        <p></p>
                      <hr>
                    <strong id="like_count">{{ post.likes }}</strong> people like this post
                    {% if user.is_authenticated %}
             
                        {% if not post.addLike%}    
                          <a class="btn btn-default" id = "likes" href="{% url 'like_category' pk=post.pk %}"><span class="glyphicon glyphicon-thumbs-up"></span> Like </a>
                         <p></p>
                         {% else %}
           
                         {% endif %}
                     {% endif %}
                 <div class="social-likes" data-title="title">
	                       <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
	                       <div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
	                        <div class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</div>
	                       <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
	                       <div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</div>
	                      <div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
                   </div>
              
           
              <input class="awesomplete" list="mylist" />
<datalist id="mylist">
	<option>Ada</option>
	<option>Java</option>
	<option>JavaScript</option>
	<option>Brainfuck</option>
	<option>LOLCODE</option>
	<option>Node.js</option>
	<option>Ruby on Rails</option>
</datalist>
              
              
              
              
              
              

                  <div class = "comments">
                          <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>

                         <br>
                        <br>
                      <br>
                      {% for comment in post.comments.all %}
                   </div>
                   {% if user.is_authenticated or comment.approved_comment %}
                  <div>
       
                     <div>            
                      {% if not comment.approved_comment %}
                         <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                            <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                      {% endif %}
                     </div>
                     <div class="comment-content">
                        <strong>{{ comment.author }}</strong>
                        <br><small>{{ comment.created_date_on}}</small>
                        <p id = "comment-text">{{ comment.text|linebreaks }}</p>
                      </div>
                 </div>
                        {% endif %}                     
                  <p><span class=" glyphicon glyphicon-fire"></span>No comments here yet <span class=" glyphicon glyphicon-fire"></span></p>
                   </div>    


{% endfor %}
{% endblock %} 